[submodule "donkeycar"]
	path = donkeycar
	url = https://github.com/autopowerracing/donkeycar.git
[submodule "gym-donkeycar"]
	path = gym-donkeycar
	url = https://github.com/autopowerracing/gym-donkeycar.git
